<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PBL3_LastReal.Properties.Settings.QL_QuanNetConnectionString"
            connectionString="Data Source=DESKTOP-ILLMULD\PVCSERVER;Initial Catalog=QL_QuanNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>